/*@font-face {*/
  /*font-family: "nassim";*/
  /*src: url("../font/nassim.eot");*/
  /*src: url("../font/nassim.woff") format("woff");*/
  /*src: url("../font/nassim.ttf") format("truetype");*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
/*}*/
/*@font-face {*/
  /*font-family: 'traffic';*/
  /*src: url('../font/traffic.eot');*/
  /*src: url('../font/traffic.otf') format('opentype');*/
  /*src: url('../font/traffic.woff') format('woff');*/
  /*font-weight: bold;*/
  /*font-style: normal;*/
/*}*/
/*@font-face {*/
  /*font-family: 'yekan';*/
  /*src: url('../font/yekan.eot');*/
  /*src: url('../font/yekan.otf') format('opentype');*/
  /*src: url('../font/yekan.woff') format('woff');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
/*}*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
}
.tiny {
  font-size: 60%;
}
.small {
  font-size: 80%;
}
.large {
  font-size: 120%;
}
.huge {
  font-size: 140%;
}
.icon {
  margin: 4px;
}
@font-face {
  font-family: 'icon';
  src: url('../font/icon.eot?8ochpk');
  src: url('../font/icon.eot?#iefix8ochpk') format('embedded-opentype'), url('../font/icon.ttf?8ochpk') format('truetype'), url('../font/icon.woff?8ochpk') format('woff'), url('../font/icon.svg?8ochpk#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ic-"],
[class*=" ic-"] {
  font-family: 'icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ic-pencil:before {
  content: "\e600";
}
.ic-pencil2:before {
  content: "\e601";
}
.ic-copy:before {
  content: "\e602";
}
.ic-lifebuoy:before {
  content: "\e603";
}
.ic-location2:before {
  content: "\e604";
}
.ic-spinner9:before {
  content: "\e605";
}
.ic-cog:before {
  content: "\e606";
}
.ic-list2:before {
  content: "\e607";
}
.ic-cloud-download:before {
  content: "\e608";
}
.ic-flag:before {
  content: "\e609";
}
.ic-star-empty:before {
  content: "\e60a";
}
.ic-star-full:before {
  content: "\e60b";
}
.ic-play3:before {
  content: "\e60c";
}
.ic-pause2:before {
  content: "\e60d";
}
.ic-stop2:before {
  content: "\e60e";
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
    -webkit-transform: translate(-2px, 0);
    -moz-transform: translate(-2px, 0);
    -o-transform: translate(-2px, 0);
    -ms-transform: translate(-2px, 0);
    transform: translate(-2px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -o-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    -webkit-transform: translate(2px, 0);
    -moz-transform: translate(2px, 0);
    -o-transform: translate(2px, 0);
    -ms-transform: translate(2px, 0);
    transform: translate(2px, 0);
  }
}
@-moz-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
    -webkit-transform: translate(-2px, 0);
    -moz-transform: translate(-2px, 0);
    -o-transform: translate(-2px, 0);
    -ms-transform: translate(-2px, 0);
    transform: translate(-2px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -o-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    -webkit-transform: translate(2px, 0);
    -moz-transform: translate(2px, 0);
    -o-transform: translate(2px, 0);
    -ms-transform: translate(2px, 0);
    transform: translate(2px, 0);
  }
}
@-ms-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
    -webkit-transform: translate(-2px, 0);
    -moz-transform: translate(-2px, 0);
    -o-transform: translate(-2px, 0);
    -ms-transform: translate(-2px, 0);
    transform: translate(-2px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -o-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    -webkit-transform: translate(2px, 0);
    -moz-transform: translate(2px, 0);
    -o-transform: translate(2px, 0);
    -ms-transform: translate(2px, 0);
    transform: translate(2px, 0);
  }
}
@-o-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
    -webkit-transform: translate(-2px, 0);
    -moz-transform: translate(-2px, 0);
    -o-transform: translate(-2px, 0);
    -ms-transform: translate(-2px, 0);
    transform: translate(-2px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -o-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    -webkit-transform: translate(2px, 0);
    -moz-transform: translate(2px, 0);
    -o-transform: translate(2px, 0);
    -ms-transform: translate(2px, 0);
    transform: translate(2px, 0);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
    -webkit-transform: translate(-2px, 0);
    -moz-transform: translate(-2px, 0);
    -o-transform: translate(-2px, 0);
    -ms-transform: translate(-2px, 0);
    transform: translate(-2px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -o-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    -webkit-transform: translate(2px, 0);
    -moz-transform: translate(2px, 0);
    -o-transform: translate(2px, 0);
    -ms-transform: translate(2px, 0);
    transform: translate(2px, 0);
  }
}
.spin {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
.shake {
  -webkit-animation: shake 1s infinite linear;
  animation: shake 1s infinite linear;
}
.animated {
  display: inline-block;
}
body {
  font-size: 9pt;
  font-family: nassim;
  color: #000;
  background-color: #fff;
}
h1,
h2 {
  font-family: nassim;
}
.button {
  font-size: 12px;
  color: #ffff11;
  background-color: #eeee00;
}
.button:hover {
  color: #ffff22;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  direction: rtl;
}
body {
  background-color: #fff;
  color: #222;
  font-size: 9pt;
}
.btn {
  background-color: #f4f4f4;
  color: #444444;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  font-size: 7pt;
  text-decoration: none;
}
.btn:hover {
  background-color: #f5f5f5;
  color: #222222;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px #ddd;
}
.btn-blue {
  background-color: #48f;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #59f;
  border-radius: 2px;
  font-size: 8pt;
  text-decoration: none;
}
.btn-blue:hover {
  background-color: #6af;
  color: #fff;
  border: 1px solid #59f;
  box-shadow: 0 1px 1px #ddd;
}
.link-gray {
  color: #666;
  cursor: pointer;
  font-size: 8pt;
  margin: 0 10px;
  text-decoration: underline;
}
.link-gray:hover {
  color: #333;
  text-decoration: underline;
}
input,
textarea {
  border: 1px solid #ddd;
  font-size: 9pt;
  padding: 4px 6px;
}
input:hover,
textarea:hover {
  border: 1px solid #ccc;
}
input:focus,
textarea:focus {
  border: 1px solid #aaf;
}
.float-right {
  float: right;
  clear: both;
}
#content {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}
#header-wrapper {
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  height: 20px;
  width: 100%;
  border: none;
  padding: 5px 5px;
  border-bottom: 1px solid #e4e4e4;
}
#header-top-right {
  position: absolute;
  margin-right: 5px;
  width: 800px;
}
.profile-image {
  border-radius: 100px;
  vertical-align: middle;
}
.todo-entry {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.todo-entry.done {
  background-color: rgba(0, 255, 0, 0.2);
}
.todo-entry.pending {
  background-color: rgba(255, 0, 0, 0.2);
}
.todo-entry li {
  display: inline-block;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  padding: 7px 10px;
}
.todo-entry:nth-child(1) {
  background: rgba(127, 127, 255, 0.65);
}
.todo-entry:nth-child(1) li {
  border-left: 1px solid #88f;
  border-right: 1px solid #88f;
}
.todo-entry li:nth-child(1) {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
}
.todo-entry li:nth-child(2) {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
}
.todo-entry li:nth-child(3) {
  width: 30%;
}
.todo-entry li:nth-child(4) {
  width: 70%;
}
.todo-entry li:nth-child(5) {
  width: 140px;
  min-width: 140px;
  text-align: center;
}
.cols {
  display: flex;
}
.cols.standard {
  align-content: space-between;
}
.cols li {
  display: inline-block;
}
#preview {
  background-color: #ddd;
  border: 1px solid #ccc;
  margin-left: 10px;
  height: 300px;
}
#sticky {
  position: absolute;
}
.preview-word {
  padding: 4px;
  background-color: rgba(0, 255, 0, 0.3);
  border: 1px solid #070;
}
.preview-word a {
  color: #520;
  text-decoration: none;
}
.preview-word a:hover {
  color: #730;
}
.preview-word a:visited {
  color: #520;
}
.preview-word a:visited:hover {
  color: #730;
}
.tooltipster-word a {
  color: #f80;
  text-decoration: none;
}
.tooltipster-word a:hover {
  color: #fa0;
}
.tooltipster-word a:visited {
  color: #f80;
}
.tooltipster-word a:visited:hover {
  color: #fa0;
}
